<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<title>Insertar libro</title>
</head>
<body>

	<div class="section no-pad-bot" id="index-banner">

		<div class="container ">
			 
			   
			<form th:action="@{/validacionlib}" th:object="${libro}" method="post"
				class="col s6 card grey lighten-3" id="insertarmain">
				<br>
				<br>
				<h2 class="header center">Insertar libro</h2>
				
				<div class="row center">
					<div class="input-field col s6 offset-s3">
						<input id = "titulo" type = "text" th:field = "*{titulo}">
						<span th:errors = "*{titulo}" class="red-text"></span>
		                <label for="titulo">Titulo</label>
					</div>
				</div>
				<div class="row center">
					<div class="input-field col s6 offset-s3">
						<input id = "autor" type = "text" th:field = "*{autor}">
						<span th:errors = "*{autor}" class="red-text"></span>
		                <label for="autor">Autor</label>
					</div>
				</div>
				<div class="row center">
					<div class="input-field col s6 offset-s3">
						<input id = "isbn" type = "text" th:field = "*{isbn}">
						<span th:errors = "*{isbn}" class="red-text"></span>
		                <label for="isbn">isbn</label>
					</div>
				</div>
				<div class = "row">
					<div class="input-field col s6 offset-s3">
					    <select th:field="*{categoria.cat}">
						    <option th:each="categoria, row: ${categorias}" th:value="${categoria.cat}" th:text="${categoria.ccategoria}"></option>
						</select>
					    <label>categoria</label>
					  </div>
				</div>
				<div class="row center">
					<div class="input-field col s6 offset-s3">
						<p th:field = "*{estado}">
					      <label>
					        <input type="checkbox" name = "estado" class="filled-in" th:checked="${estadoinicial}" />
					        <span>Estado</span>
					      </label>
					    </p>
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="row center">
					<button class="btn waves-effect col s4 offset-s4 btn-large" 
								type="submit">
								Guardar libro<i class="material-icons right">library_add</i>
					</button>
					<br>
					<br>
					<br>
				</div>
				<br>
			</form>
			<br>
			<br>
			  
			          
		</div>
		<br>
		<br>
		<br>
		<footer class="page-footer teal lighten-1">
          <div class="container">
            <div class="row">
              
            </div>
          </div>
        </footer>
	</div>

</body>
</html>